.bg-card {
       padding: 20px;
       background: rgb(235, 235, 235);
       background-color: rgb(81, 28, 28);
       border-radius: 5px;
       margin-bottom: 2%;
       text-align: center;
             
}
h1{
       text-align: center;
       padding: 10px;
       
}
