<section class="grid3 container">
  <div class="grid3-item help-me">
    <img src="../../assets/images/ajudar/ajudar.jpg">
  
  </div>
  <div class="grid3-item help-me-2">
     <div class="btn-help me-1">
    <a><img src="../../assets/images/infor/icon-sobre-branco-80x80.png">
    <p>SOBRE</p></a>
  </div>
    <div class="btn-help me-2">
    <a><img src="../../assets/images/ajudar/facaPix4-80x80.png">
    <p>FAÇA PIX</p></a>
  </div>
  <div class="btn-help me-3">
    <a><img src="../../assets/images/ajudar/ajudar-mao3-7pt-1-80x80.png">
    <p>MAIS FORMAS DE AJUDAR</p></a>
  </div>
  <div class="btn-help me-4">
    <a><img src="../../assets/images/equipe/equipe3-5pt-80x80.png">
    <p>FAÇA PARTE</p></a></div>
   </div>
  </section>