<div class="help-me">
    <h5>Como Ajudar</h5>
<section class="grid3">
    <a href="#" class="grid3-item">
        <img src="../../assets/images/ajudar2.jpg" alt="imagem ajudar">
    </a>
    <a href="/" class="grid3-item">Sobre nós <img src="../../assets/images/icons8-sobre-nos-100.png" alt=""></a>
    <a href="/" class="grid3-item">Faça PIX <img src="../../assets/images/icons8-sobre-nos-100.png" alt=""></a>
      <a href="/" class="grid3-item">Faça Parte <img src="../../assets/images/faca-parte2.png" width="100px" alt=""></a>
    <a href="/" class="grid3-item">Outras Formas de Ajudar <img src="../../assets/images/icons8-sobre-nos-100.png" alt=""></a>
  </section>
</div>
