<section class="grid3 container">
  <div class="grid3-item">
    <a><img src="../../assets/images/ajudar/ajudar.jpg">
    <!--<p>Legenda</p> --></a>
  </div>
  <div class="grid3-item ">
    <a><div class="item"><img src="../../assets/images/infor/icon-sobre-branco-80x80.png">
    <p>SOBRE</p></div></a>
<div class="help-me-images">
    <a><img src="../../assets/images/ajudar/facaPix4-80x80.png">
    <p>FAÇA PIX</p></a>

    <a><img src="../../assets/images/ajudar/ajudar-mao3-7pt-1-80x80.png">
    <p>MAIS FORMAS DE AJUDAR</p></a>

    <a><img src="../../assets/images/equipe/equipe3-5pt-80x80.png">
    <p>FAÇA PARTE</p></a>
  </div>
  </div>
</section>