
.grid3 {
  background: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px; 
  padding: 10px;
  margin-left: auto; 
  border-radius: 5px;
}

.help-me-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  grid-gap: 22px;
}
.help-me img {
 width: 100%;
 border-radius: 5px;  
 }
.grid3-item a{
  width: 100%;
  border-radius: 5px;
  display: table;
}
.grid3-item a .item{
 display: table-cell;
}

.grid3 > .grid3-item:nth-child(1) a {
  grid-column: 1 / 3;
}
.grid3 > .grid3-item:nth-child(1) img {
  width: 100%;
}
.grid3 > .grid3-item:nth-child(2) img {
 
}
.grid3-item .btn-help{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12% 18% 0;
}
.grid3-item p {
  margin: 14% 0%;
  text-align: inherit;
  color: white;

}
.btn-help.me-1{
  background:rgba(81, 28, 28, 0.726);
  border-radius: 5px;
}
.btn-help.me-2{
  background: rgb(173, 35, 35);
  border-radius: 5px;
}
.btn-help.me-3{
  background: rgb(173, 35, 35);
  border-radius: 5px;
}
.btn-help.me-4{
  background: rgb(81, 28, 28);
  border-radius: 5px;
}
.btn-help.me-3 p{
  margin: 0% 0% 0% 0% ;
}
@media (max-width: 700px) {
  .grid3 {
    grid-template-columns: 1fr;
  }
}


