.about{
    /*
    float: left;
    margin: -159px 266px -56px;
    position: relative;*/
    margin: 8%;
   /* position: absolute; */
    color: white;
    z-index: 1000;
    
}
.obj-about{
    border-radius: 50px;

}
.about h5{
       
    margin: 0 0 0 15%; 
      
}
@media (max-width: 600px) {
    .about{
        color: aquamarine;
        font-size: 65%;
       
       
    }
    .about h5{
       
        font-size: 95%;
        margin: 0 0 0 4%;
        
    }
    .about p{
       
        width: 40%;
        
    }
    .btn-info.about {
    
        font-size: 35%;

    }
}
  