.about{
    margin: 0% 3% 3% 10%;
     color: white;
      
}
.btn-info.about {
    border-radius: 50px;

}
.about h5{
       
    margin: 0 0 0 9%; 
      
}
@media (max-width: 600px) {
    .about{
        color: aquamarine;
        font-size: 65%;
       
       
    }
    .about h5{
       
        font-size: 95%;
        margin: 0 0 0 4%;
        
    }
    .about p{
       
        width: 40%;
        
    }
    .btn-info.about {
    
        font-size: 35%;

    }
}
  