.register {
    background-color: rgb(81, 28, 28);
    border-radius: 5px;
    margin: 2% auto;
    
}

.data-client {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
}

.button-register {
    margin: 5px;
}

.register-text {
    margin: 5px 5px;
}