<div class="register container">

    <form class="row g-3">
        <div class="data-client">
            <div class="col-md-6 register-text">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6 register-text">
                <label for="inputPassword4" class="form-label">Senha</label>
                <input type="password" class="form-control" id="inputPassword4">
            </div>
            <div class="col-md-6 register-text">
                <label for="inputAddress" class="form-label">Endereço</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="">
            </div>
            <div class="col-md-6 register-text">
                <label for="inputAddress2" class="form-label">Complemeto</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="">
            </div>
            <div class="col-md-6 register-text">
                <label for="inputCity" class="form-label">Cidade</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-6 register-text">
                <label for="inputState" class="form-label">Estado</label>
                <select id="inputState" class="form-select">
                    <option selected>Escolher...</option>
                    <option>...</option>
                    <option>Paraná</option>
                    <option>Santa Catarina</option>
                    <option>São Paulo</option>
                    <option>Rio Grande do Sul</option>
                    <option>Rio de Janeiro</option>
                </select>
            </div>
            <div class="col-md-6 register-text">
                <label for="inputZip" class="form-label">CEP</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="col-12 button-register">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </div>
    </form>
</div>