.navbar {
    background-color: rgb(81, 28, 28);
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 100%;
    position: relative;
  }
  .navbar a { 
      color: white;
  }

 .navbar img{
   margin: -10px 10px -10px 0 ;
 }
 .dropdown-menu{

  background-color: rgb(81, 28, 28);
 }