.banner{
    background-image: linear-gradient(to bottom, rgb(81, 28, 28), rgb(165, 42, 42));
   /* background-color: brown;*/
   
}
.banner.obj-login{
    
}
.logoAgape-banner{
    text-align: right;
}
.login-register{
    text-align: right;
    margin: 0% 2%;
    
}
.btn.register{
    color: white;
}

.logoAgape{
    text-align: right;
    position: relative;
	right: 15px;
    float: right;
    width: 50%;
}