<div class="banner"> 
  <div class="login-register">   
  <object class="obj-login">
    <a href="#" class="btn register">Cadastre-se</a>
    <a href="/login" class="btn btn-success">Entrar</a>
  </object>
</div>
<div class="logoAgape-banner" >
  <!--  <img src="../assets/images/logoAgape/logoAgapeBranco.png" alt=""> -->
    <picture>
        <source media="(max-width: 750px)" srcset="../assets/images/logoAgape/logoAgapeBranco-250x250.png" type="image/png">
        <source media="(max-width:1050px)" srcset="../assets/images/logoAgape/logoAgapeBranco-500x500.png" type="image/png">
        <img src="../assets/images/logoAgape/logoAgapeBranco-800x800.png" alt="Imagem flexível">
    </picture>
</div>
<app-about></app-about>
</div>