<h1>AREA MEDIA PLAYER DESTAQUE!</h1>
<!---->
<div class="media container">
  <div class="embed">
         <iframe src="https://www.youtube.com/embed/XvXkhF8efqw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><!-- width="560" height="315"-->
  </div>  
  <div class="embed"><iframe width="560" height="315" src="https://www.youtube.com/embed/WImF0cMDnfk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><!-- width="560" height="315"-->
  </div>
  
  <div class="embed">
       <iframe width="560" height="315" src="https://www.youtube.com/embed/eF9Qoc6p_4Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><!-- width="560" height="315"-->
</div>
<div class="embed"> <iframe width="560" height="315" src="https://www.youtube.com/embed/TMmTGIu5YZ4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><!-- width="560" height="315"-->
</div>
</div>