.carousel .obj-login {
    float: right;
    margin: 11px 13px -56px;
    position: relative;
    z-index: 1;
}

.carousel .obj-login a {
    color: white;
    font-weight: bolder;
    font-size: 16px;
}

.carousel-caption {
    float: left;
    margin: 0 126px 129px 0;
}
.carousel-item .logo{
    margin: 8%;
    position: absolute;
}
.carousel-item .logo img{
  width: 50%;
}
.logoAgape-banner{
    position: relative;
    float: right;
    z-index: 2;
    margin: 4% 9%;
   
}
.logoAgape-banner img{
    /*width: 80%;*/
}
@media (max-width: 1050px) {
    .logoAgape-banner img{
        width: 60%;
        margin: -1% 25% -21%;
    }
}
@media (max-width: 800px) {
    .logoAgape-banner img{
        width: 60%;
        margin: -1% 25% -21%;
    }
}
@media (max-width: 600px) {
    
    .logoAgape-banner img{
        width: 89%;
        margin: 9% -20% -21%;
    }
    
}
@media (max-width: 450px) {
    .logoAgape-banner img{
        width: 39%;
    margin: 11% 32% -41%;
    }
    @media (max-width: 350px) {
        .logoAgape-banner img{
            width: 39%;
        margin: 11% 32% -41%;
        }
    }

        
           
}